<div class="logoHospital">
    <img src="/images/logo hospital.png" alt="" width="99px">
    <h1>Centro médico</h1>
</div>
<h2>LISTADO DE PACIENTES</h2>
<table border="1">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Cédula</th>
            <th>Edad</th>
            <th>Teléfono</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each pacientes}}
        <tr>
            <form action="/pacientes/actualizar/{{cedula}}" method="post">
            <td><input type="text" id="nombre" name="nombre" value="{{nombre}}" {{#ifCond @key '!=' ../claveSeleccionada}}{{../opcion}}{{/ifCond}}></td>
            <td><input type="text" id="apellido" name="apellido" value="{{apellido}}" {{#ifCond @key '!=' ../claveSeleccionada}}{{../opcion}}{{/ifCond}}></td>
            <td><input type="text" value="{{cedula}}" disabled></td>
            <td><input type="text" id="edad" name="edad" value="{{edad}}" {{#ifCond @key '!=' ../claveSeleccionada}}{{../opcion}}{{/ifCond}}></td>
            <td><input type="tel" id="telefono" name="telefono" value="{{telefono}}" {{#ifCond @key '!=' ../claveSeleccionada}}{{../opcion}}{{/ifCond}}></td>
            <td class="btnPacientes">
            {{#if ../estado}}
            <a href="/pacientes/eliminar/{{cedula}}" style="margin-right: 0.5em;">Eliminar</a> <br><br>
            <a href="/pacientes/enviar/{{@key}}">Actualizar</a>
            {{else}}
            <input type="submit" value="Enviar">
            {{/if}}
            </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>
<div class="botPac">
    <a class="volver" href="/">Volver</a>
    <a href="pacientes/agregar-pacientes">Agregar paciente</a>
</div>